// PRIMARY
$primary-main: #212121;
$primary-light: #616161;
$primary-main-rgb: rgb(33, 33, 33);
$primary-light-rgb: rgb(97, 97, 97);

// SECONDARY
$secondary-main: #FF9800;
$secondary-dark: #F57C00;
$secondary-light: #FFB74D;
$secondary-main-rgb: rgb(255, 152, 0);
$secondary-light-rgb: rgb(255, 183, 77);
$secondary-dark-rgb: rgb(245, 124, 0);

// DANGER
$danger-main: #F44336;

// REST
$white: #FFFFFF;
