@import "src/styles/colors";
@import "src/styles/animations";

.Header {
  color: #000000;

  .menu {
    margin-right: 12px;
    padding: 12px;
    @extend .colorTransition;
  }

  .toolbar {
    align-items: center;
    display: flex;

    > a {
      align-items: center;
      color: inherit;
      display: flex;
      height: 1.6em;
      text-decoration: none;
      @extend .colorTransition;

      > svg {
        height: 100%;
      }

      > h6 {
        margin-left: 10px;
      }
    }

    .loginButton {
      margin-left: auto;
      @extend .colorTransition;
    }
  }
}
