.App {
  background-color: #000000;
  min-height: 100vh;

  > main {
    margin: 0 auto;
    max-width: 1200px;
    min-height: calc(100vh - 64px); // Header height

    @media (max-width: 600px) {
      min-height: calc(100vh - 56px); // Header height
    }
  }
}
