@import "src/styles/animations";
@import "src/styles/colors";

.AdminMenuLink {
  color: $white;
  text-decoration: none;
  @extend .colorTransition;

  &:hover {
    color: $primary-main;
  }

  &.active,
  &.active:hover {
    background-color: $primary-main;
    color: $white;
  }

  .icon {
    color: inherit;
  }

  .list {
    background-color: inherit !important;
  }
}
